
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    height: 30px;
    height: 30px;
}
.four{
    margin-right: 20px; 
    margin-top: 50px;
    padding: 2%;
    margin-left: 200px;
}
.three img{
    width: 360px;
    height: 360px;
    margin-right: 300px;
    margin-top:50px;
}
.three{
    width: 10px;
    padding: 1%;
    margin-right: 200px;
}
.four a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient( rgb(58, 58, 133), rgb(159, 153, 228));
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 5;
}
.flexible1{
    display: flex;
}
.four h2{
    font-size: 40px;
}
.five img{
   margin-top: 100px;
   margin-left: 200px;
   
}
.four p{
    margin-right: 50%;
}